body {
    padding: 0;
    margin: 0;
    background-color: olive;
    font-family: Roboto;
}
html, body, #map {
    height: 100%;
    width: 100%;
}
a, a:active, a:focus {
    text-decoration: none; /* underline dotted */
    color: #044E71;
}

.starts-body {
    overflow-y: hidden;
}

.index-body {
    justify-items: center;
    background-color: #bddab1;
}
.index-body h1 {
    padding: 30px;
}
.index-body section h3 {
    text-align: center;
    margin: 30px 0 10px 0;
}

.banners {
    text-align: center;
    h3 {
        text-align: center !important;
    }
    img {
        margin: 10px;
    }
}

.help-body section {
    background-color: beige;
    padding: 25px;
    margin: 25px;
    border: solid 1px lightgray;
    border-radius: 15px;

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
        margin-top: 0;
    }
    .help-figure {
        border: 5px solid darkolivegreen;
        max-width: 100%;
    }
    .help-figure-left {
        float: left;
        margin-right: 15px;
    }
    .help-figure-right {
        float: right;
        margin-left: 15px;
    }
    .fugure-list {
        position: relative;
        left: 2em;
        margin-right: 2em;
    }
    #charts-carousel {
        width: 415px;
        float: left;
        margin-right: 20px;
    }
    a {
        font-weight: bold;
    }
}
.region-box {
    text-align: center;
    border: 5px solid darkolivegreen;
    border-radius: 30px;
}
.region-box h2 {
    color: darkolivegreen;
}
.region-box a {
    text-decoration: none;
}
.index-body footer {
    width: 67%;
}
.my-copyright {
    font-style: italic;
    font-size: .8em;
}

#opacityControls {
    text-align: center;
    position:absolute;
    width:800px;
    height:30px;
    bottom:20px;
    right:25%;
    left:50%;
    margin-left:-400px;
    z-index: 777;
}
#map_region_selector {
    position:absolute;
    top:12px;
    left:60px;
    width: 180px;
    z-index: 777;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
}
#map_tracks_month_selector {
    position:absolute;
    top:12px;
    left:250px;
    z-index: 777;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
}
.header_selector {
    position: relative;
    top: -6px;
    left: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
#counter {
    text-align: center;
    font-size: 40px;
    position:absolute;
    width:100px;
    height:80px;
    bottom:20px;
    left:15px;
    z-index: 777;
    text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
}
#spinner {
    position:absolute;
    bottom:120px;
    left:15px;
    z-index: 777;
    display: none;
}
.slider-container {
    position: absolute;
    bottom: 10px;
    left: 25%;
    width: 50%;
    max-width: 800px;
    z-index: 777;
    display: none;
}
.timeline-container {
    position: absolute;
    top: 0;
    right: -60px;
}
.timeline-container label {
    position: absolute;
    top: 20px;
    left: -15px;
    font-weight: bold;
    text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
}
label:has(> span span .layer-separator) {
    margin-top: 10px;
}
.full-size {
    border: dashed 2px mediumpurple;
}
.restricted {
    border: solid 3px deeppink;
}
.highlighted {
    border: solid thick tomato;
}
.restricted-text {
    font-weight: bold;
    color: red;
}
.wo-author {
    border: dotted 3px hotpink;
}
.wo-author-w-full {
    border: dotted 4px purple;
}
.button-icon {
    display: block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px -2px;
}
.home-icon {
    background-image: url(../images/home.png);
}
.welcome-icon {
    background-image: url(../images/information_24.png);
}
.help-icon {
    background-image: url(../images/question_24.png);
}
.statistics-icon {
    background-image: url(../images/statistics_24.png);
}
.papers-icon {
    background-image: url(../images/papers_24.png);
}
.settings-icon {
    background-image: url(../images/settings_24.png);
}
.call-icon {
    display: block;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px -2px;
    background-image: url(../images/chat_64.png);
}
.starts-body .leaflet-bottom.leaflet-right .leaflet-control:first-child {
    margin-bottom: 45px;
}
.hide-map-link {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.ext-link {
    text-transform: lowercase;
    /*color: navy;*/
}

/* --- POP-UP --- */
/*
.leaflet-popup-content {
    padding: 15px;
    border: 1px solid lightgray;
}
*/
.leaflet-popup-content {
    min-height: 220px;
    padding-top: 5px;
}
.selected-menu-item {
    background-color: lightgrey;
}
.popup-logo {
    position: fixed;
    max-width: 150px;
}
#logo-carousel {
    width: 150px;
    position: fixed;
}
.popup-text {
    margin-left: 170px;
    min-height: 160px;
}
.mobile-popup-text {
    min-width: 300px;
}
.popup-content {
    border: solid lightgray;
    border-radius: 10px;
    padding: 15px 5px 5px;
    width: 97%;
}
.popup-header {
    position: absolute;
    margin-top: -12px;
    color: black;
    font-weight: bold;
    font-size: 8px;
}
.popup-left-header {
    margin-left: 0px;
}
.popup-right-header {
    right: 25px;
}
.gps-info img {
    margin-bottom: -8px;
}
.gps-info a {
    display: inline-block;
    padding-bottom: 5px;
}
.map-info-link {
    text-decoration: none;
}

/* --- CHARTS --- */
.stat-body {
    width: auto;
    height: auto;
    justify-items: center;
    background-color: #bddab1;
    padding: 10px;
}
.chart-container {
    width: 400px;
}
.stat-map-link {
    float: left;
    margin: 0 20px;
    background-color: white;
    padding: 8px 10px;
    border: 1px solid black;
}
.stat-map-link-right {
    float: right;
    margin-right: 0;
}
.o-main-table {
    width: 100%;
    background-color: lightgray;
    border: solid 1px gray;
    font-size: 14px;
    border-collapse: collapse;
    tr:nth-child(odd) {
        background-color: white;
    }
    td, th {
        text-align: left;
        padding: 7px 10px;
    }
    th.sortable {
        cursor: pointer;
    }
}
.stat_result_article {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.sheet-body {
    h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        label {
            font-size: .5em;
            margin-right: -25px;
            margin-left: 30px;
            position: relative;
            top: -5px;
        }
    }
    h2 {
        width: 100%;
        text-align: center;
    }
}
#sheet-spinner {
    margin-left: 30px;
    margin-bottom: -5px;
}
.o-sheet-roof {
    width: 100%;
    text-align: end;
    align-content: end;
    img {
        margin-bottom: 5px;
    }
    a {
        margin-top: -30px;
        float: right;
    }
    div {
        margin-top: -20px;
        margin-right: 40px;
        font-size: small;
        float: right;
    }
}
.o-sheet-wrapper {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 155px);

    thead th {
        position: sticky;
        top: 0;
        background: lightgrey;
    }
    ol {
        padding-inline-start: 0;
    }
    table.o-sheet th[data-order="desc"]::after {
        content: "▼";
    }

    table.o-sheet th[data-order="asc"]::after {
        content: "▲";
    }
}
.o-sheet-maps-on-stroe-wrapper {
    height: calc(100vh - 275px);
}
.sheet-icon {
    width: 20px;
    vertical-align: top;
}

.leaflet-searchbox-autocomplete .leaflet-searchbox-autocomplete-item {
    padding: 3px 0px 3px 0;
}

/*
#btn-spin {
    position: absolute;
    left: 50px;
    z-index: 10;
    font-size: 1.5em;
}
*/
.tbank {
    background-color: yellow;
}
#noscript_content {
    border-radius: 30px;
    background-color: lightgoldenrodyellow;
    margin: 20px;
    padding: 20px;
}

/* --- tabs --- */
ul.nav.nav-tabs {
    margin-left: 30px;
}
button.nav-link {
    font-weight: bold;
}
.tab-content section {
    text-align: left;
}

/* --- SHEETS --- */
#year-column {
    text-align: end;
}
.o-sheet {
    td:nth-child(10) {
        max-width: 400px;
    }
}
.start-sheet {
    td {
        padding: 15px 10px;
    }
}
.doc-date {
    font-weight: bold;
    white-space: nowrap;
}
.about-button {
    float: left;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    img {
        margin: 8px;
    }
}
.my-race {
    font-weight: bold;
    font-size: 8px;
    color: navy;
}
#header_checkbox_container {
    font-size: .5em;
    padding-left: 20px;
}

/* --- MAP INFO --- */
#start_info {
    width: 90%;
}
#start_info, #start_info img {
    display: none;
}

/* --- MAP INFO --- */
.value_place {
    display: none;
}
#types_list {
    float: right;
    font-weight: bold;
    font-size: 10px;
    margin-top: 8px;
}
.map_preview img {
    border: 3px solid darkolivegreen;
    width: 90%;
}
.map_preview img:hover {
     border: 3px solid lightgoldenrodyellow;
}

/* --- START MAPS --- */
.start-maps-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.start-map-box {
    width: 200px;
    /*height: 250px;*/
    float: left;
    margin: 20px;
    padding: 0;
    border: 3px solid darkolivegreen;
}
.start-map-box:hover {
    border: 3px solid lightgoldenrodyellow;
}
.start-map-box img {
    max-width: 194px;
    max-height: 194px;
}

/* --- Траурное --- */
.mourning .help-figure {
    border: 5px solid black !important;
}
.mourning .start-map-box {
    border: 5px solid black !important;
}

/* --- TRACKS --- */
.track-table-pic {
    height: 50px;
    margin: 3px;
}
.RUN {
    color: red;
}
.SKI {
    color: blue;
}
.VELO {
    color: green;
}
.WALK {
    color: brown;
}
.WATER {
    color: darkblue;
}
.tracks-table {
    td:nth-child(3) {
        font-weight: bold;
    }
}

/* --- integration --- */
body.integration-body {
    background-color: #bddab1;

    h1 {
        text-align: center;
    }
    .integration-link {
        margin-top: -3px;
        margin-right: 0;
    }
    .integration-nav {
        margin-top: -3px;
        background-color: white;
        padding: 15px;
        border: solid 1px black;
        font-size: 16px;
        color: black;
        text-decoration: none;
    }
    .integration-nav-left {
        float: left;
    }
    .integration-nav-right {
        float: right;
    }
    .integration-home-link {
        background-color: white;
        padding: 2px 10px;
        border: 1px solid black;
    }

    .container {
        width: 80%;
        margin-left: 10%;
    }

    iframe {
        width: 100%;
        height: 600px;
    }

    pre {
        width: 100%;
        background-color: beige;
        padding: 15px;
        border: solid 1px lightgray;
        white-space: normal;
    }
}

/* --- calendar --- */
.calendar-body {
    .o-main-table {
        img {
            vertical-align: middle;
        }
        td, th {
            text-align: left;
            padding: 7px;
            font-size: 14px;
        }
        td {
            max-width: 200px;
            border-bottom: 1px solid lightgrey;
            border-top: 1px solid lightgrey;
        }
        td:nth-child(3) {
            max-width: 350px;
        }
        tr {
            background-color: white;
        }
        .orient {
            background-color: #d2f1da;
        }
        .rogaine {
            background-color: #fef1cc;
        }
        .water {
            background-color: #D6EDFFFF;
        }
        .disabled {
            color: grey;
            a {
                color: grey;
                text-decoration: underline dotted;
            }
        }
        .current {
            font-weight: bold;
        }
        .cancelled {
            text-decoration: line-through solid;
        }
        .month-row {
            font-weight: bold;
            text-align: left;
            color: white;
            background-color: darkolivegreen;
            padding-left: 85px;
        }
    }
}

/* --- media --- */
@media screen and (max-width : 1000px) {
    .help-figure {
        max-width: 400px;
        max-height: 300px;
    }
}
@media screen and (max-width : 600px) {
    body.integration-body .container {
        width: 100%;
        margin-left: 0;
    }
    .sheet-body {
        width: inherit;
        height: inherit;
        justify-items: normal;
    }
    .help-body {
        justify-items: normal;
    }
    .o-sheet-wrapper {
        overflow-y: inherit;
        height: inherit;
    }
    .popup-logo {
        position: unset;
        max-width: 150px;
        margin: 20px 75px;
    }
}
